<head>
    <meta charset = "UTF-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <title>SysPOG</title>
</head>

<body>
    <p>
        Change enp0s3 Advertisement Mode <br>
        1. Change enp0s3 advertisement to 10baseT Full Duplex AutoNeg On<br>
        2. Change enp0s3 advertisement to 100baseT Full Duplex AutoNeg On<br>
        3. Change enp0s3 advertisement to 1000baseT Full Duplex AutoNeg On<br>
    </p>
    <form action="{% url 'main:advertisement' %}" method="POST">
        {% csrf_token %}
        <label for="advertisement">Option for enp0s3 Advertisement Mode (choose 1-3) :</label>
        <input type="number" id="advertisement" name="advertisement" min="1" max="3">
        <button class="btn btn-outline-warning" id="submit_button">Submit</button>
    </form>

    <p>
        Change enp0s3 RX/TX Buffer Size <br>
        1. Change enp0s3 RX/TX Buffer to 4096/4096<br>
        2. Change enp0s3 RX/TX Buffer to 2048/2048<br>
        3. Change enp0s3 RX/TX Buffer to 1024/1024<br>
        4. Change enp0s3 RX/TX Buffer to 512/512<br>
        5. Change enp0s3 RX/TX Buffer to 256/256<br>
    </p>
    <form action="{% url 'main:buffer' %}" method="POST">
        {% csrf_token %}
        <label for="buffer">Option for enp0s3 RX/TX Buffer Size (choose 1-5) :</label>
        <input type="number" id="buffer" name="buffer" min="1" max="5">
        <button class="btn btn-outline-warning" id="submit_button">Submit</button>
    </form>

    <p>
        Choose Audio Volume <br>
        1. 50% <br>
        2. 75% <br>
        3. 100% <br>
    </p>
    <form action="{% url 'main:volume' %}" method="POST">
        {% csrf_token %}
        <label for="volume">Option for Audio Volume (choose 1-3) :</label>
        <input type="number" id="volume" name="volume" min="1" max="3">
        <button class="btn btn-outline-warning" id="submit_button">Submit</button>
    </form>
</body>